body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.imageSelection:hover{
	/*height: 170px;*/
	padding: 10px;
}

.backgroundImage{
	background-image: url("../images/background1.png");
	/*background-image: none;*/
	background-repeat: no-repeat;
	background-position: 100% 0px;	
}

#container {
  overflow: hidden;
  width: 100%;
}

#inner {
  overflow: hidden;
}

.child {
  float: left;
}

/*.title {
 font-size: 400px;
 /*float: left;*/
}*/

.define {
/*width:960px;	*/
	margin:0 auto;
}

footer {
    /*position: none;*/
    height: 0px;
    /*bottom: 0;*/
    width: 80%; 
    float:center;
}

/*------------------------------Para las graficas-------------------------*/

#titleRow{
	width:35px;
	height: 250px;
	margin: 7px;
	
}

.vertical-text {
	color: gray;
	transform: rotate(270deg);
   	margin-top: 170px;
}

#pieChart {  
	/*top:10px
	left:10px;
	 */
	width:250px;
	height: 250px;
	margin: 7px;
}

#lineChart {  
	width:420px;
	height: 250px;
	margin: 7px;
}

#barChart {
	/*top:160px;
	left:410px;
	height: 250px;*/
	width:550px;
	height: 250px;
	margin: 7px;
}

.slice {
   font-size: 12pt;
   font-family: Verdana;
   fill: white; //svg specific - instead of color
   font-weight: bold;	
  		} 


/*for line chart*/
.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges; //The shape-rendering property is an SVG attribute, used here to make sure our axis and its tick mark lines are pixel-perfect. 
}

.line {
  fill: none;
  /*stroke: steelblue;*/
  stroke-width: 3px;
}

.dot {
  /*fill: white;*/
  /*stroke: steelblue;*/
  stroke-width: 1.5px;
  }
				

.axis text {
    font-family: Verdana;
    font-size: 11px;
}

.title {
	 font-family: Verdana;
    font-size: 15px;			
}

.xAxis {
    font-family: verdana;
    font-size: 8px;
    fill: black;
}  

.yAxis {
    font-family: verdana;
    font-size: 9px;
    fill: black;
}

  
table {
	border-collapse:collapse;
	border: 0px;	
	font-family: Verdana;	
	color: #5C5558;
	font-size: 12px;
	text-align: right;			
}

td {
	padding-left: 10px;		
}

#lineChartTitle1 {
	font-family: Verdana;
	font-size  : 14px;
	fill       : grey;
	font-weight: bold;
	text-anchor: middle;
}

#lineChartTitle2 {
	font-family: Verdana;
	font-size  : 50px;
	fill       : lightgrey;
	text-anchor: middle;
	font-weight: bold;
	/*font-style: italic;*/
}
				 

.titleDashboard {
	font-family: Verdana;
    font-size: 20px;
    font-weight: bold;	
    color: gray;		
}

#divTitleDashboard {
	width: 100%;
	height: 30px;
	margin: 7px 7px 7px 7px;		
}
